.new-author-section {
    padding-bottom: 30px;
}

.inputs {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    padding: 0 40px;
}

.input {
    padding: 0.5rem 1rem;

}

.input input,
.input select {
    font: inherit;
    width: 100%;
}

.input input, .input select {
    border: none;
    border-bottom: 2px solid #000000;
    outline: none;
}

.input input:focus,
.input select:focus {
    border-color: #1900ff;
}

.input-block {
    grid-column-start: 1;
    grid-column-end: 3;
}

.submit-button {
    font: inherit;
    border: none;
    background: #0060ff;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 7px;
}

.submit-button:hover {
    cursor: pointer;
    background: #000000;
}
